<nav class="navbar navbar-expand-lg my-5 mx-5 py-2 rounded-4">
  <div class="container-fluid justify-content-evenly">
    <ul class="navbar-nav d-flex flex-row align-items-center gap-5">
      <li class="nav-item"><a class="nav-link" href="{{ path('app_carte')}}">Carte</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ path('app_contact') }}">Contact</a></li>

      <li class="nav-item">
        <a class="navbar-brand mx-3 fw-bold" href="{{ path('app_accueil') }}">KODAMA'S KITCHEN</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Compte</a></li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_panier') }}">
        Panier
        <span class="badge bg-dark text-white rounded-pill ms-1">{{ totalItems }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
